name: Build Kernel

on:
  workflow_dispatch:
    inputs:
      enable_feature_kpm:
        description: "是否启用kpm"
        required: false
        default: false
        type: boolean

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      CCACHE_COMPILERCHECK: "%compiler% -dumpmachine; %compiler% -dumpversion"
      CCACHE_NOHASHDIR: "true"
      CCACHE_HARDLINK: "true"
      CCACHE_DIR: /home/runner/.ccache
      CCACHE_MAXSIZE: 8G
    strategy:
      fail-fast: false
    name: Build Kernel for K40GE
    steps:
      - name: Maximize build space
        uses: easimon/maximize-build-space@master
        with:
          root-reserve-mb: 8192
          temp-reserve-mb: 2048
          remove-dotnet: 'true'
          remove-android: 'true'
          remove-haskell: 'true'
          remove-codeql: 'true'

      - name: Install Package
        run: sudo apt update && sudo apt install -y p7zip-full git ccache

      - name: Restore ccache
        uses: actions/cache@v4
        with:
          path: /home/runner/.ccache
          key: ccache-${{ runner.os }}-${{ github.ref }}
          restore-keys: |
            ccache-${{ runner.os }}-

      - uses: actions/checkout@v5

      - name: Get Kernel Source Code
        uses: actions/checkout@v5
        with:
          repository: Tkpointz/android_kernel_aresin
          ref: U
          path: kernel
      
      - name: Setup Cross-compile toolchain
        run: |
          mkdir -p toolchain
          cd toolchain
          wget -q https://github.com/Mandi-Sa/clang/releases/download/amd64-kernel-arm_static-22/llvm22.0.0-binutils2.44_amd64-kernel-arm_static-20250831.7z
          7za x llvm22.0.0-binutils2.44_amd64-kernel-arm_static-20250831.7z
          rm llvm22.0.0-binutils2.44_amd64-kernel-arm_static-20250831.7z
      
      - name: Set up SukiSU
        working-directory: kernel
        run: |
          echo DATE=$(date +%F) >> $GITHUB_ENV
          curl -LSs "https://raw.githubusercontent.com/SukiSU-Ultra/SukiSU-Ultra/main/kernel/setup.sh" | bash -s susfs-main
          cd ./KernelSU
          export KSU_VERSION=$(expr $(/usr/bin/git rev-list --count main) "+" 10700)
          echo "KSUVER=$KSU_VERSION" >> $GITHUB_ENV
          sed -i "s/DKSU_VERSION=12800/DKSU_VERSION=${KSU_VERSION}/" kernel/Makefile

      - name: Get SukiSU Patches
        uses: actions/checkout@v5
        with:
          repository: SukiSU-Ultra/SukiSU_patch
          path: sukisu_patch

      - name: Get susfs4ksu
        run: |
          git clone -b kernel-4.14 --depth=1 https://gitlab.com/simonpunk/susfs4ksu.git
          cp $GITHUB_WORKSPACE/susfs4ksu/kernel_patches/fs/* $GITHUB_WORKSPACE/kernel/fs/
          cp $GITHUB_WORKSPACE/susfs4ksu/kernel_patches/include/linux/* $GITHUB_WORKSPACE/kernel/include/linux/

      - name: Patch Kernel
        working-directory: kernel
        run: |
          patch -p1 -R < $GITHUB_WORKSPACE/Patches/original-ksu.patch
          patch -p1 < $GITHUB_WORKSPACE/Patches/fix-build-error.patch
          patch -p1 < $GITHUB_WORKSPACE/Patches/ksu-syscall-hooks.patch
          patch -p1 -F 3 < $GITHUB_WORKSPACE/susfs4ksu/kernel_patches/50_add_susfs_in_kernel-4.14.patch
          patch -p1 < $GITHUB_WORKSPACE/Patches/susfs_upgrade_patch.patch

      - name: Copy defconfig
        run: |
          if [ "${{ inputs.enable_feature_kpm }}" = "true" ]; then
            echo "CONFIG_KPM_y" >> $GITHUB_WORKSPACE/Patches/ares_user_defconfig
          fi
          cp $GITHUB_WORKSPACE/Patches/ares_user_defconfig $GITHUB_WORKSPACE/kernel/arch/arm64/configs
      
      - name: Build Kernel for K40GE
        working-directory: kernel
        env:
          args: |+
            LLVM=1 ARCH=arm64 CROSS_COMPILE=aarch64-linux-gnu-
            CROSS_COMPILE_ARM32=arm-linux-gnueabi- CROSS_COMPILE_COMPAT=arm-linux-gnueabi-
            CC=clang LD=ld.lld HOSTLD=ld.lld O=out KCFLAGS+=-O2 KCFLAGS_PERF+=-O3
        run: |
          export KBUILD_BUILD_TIMESTAMP=$(date)
          export PATH=/usr/lib/ccache:$GITHUB_WORKSPACE/toolchain/bin:$PATH
          make -j$(nproc --all) ${args} ares_user_defconfig all
      
      - name: Apply KernelPatch for KPM
        if: ${{ inputs.enable_feature_kpm }}
        working-directory: kernel/out/arch/arm64/boot
        run: |
          cp $GITHUB_WORKSPACE/sukisu_patch/kpm/patch_linux .
          chmod +x patch_linux
          ./patch_linux
          mv oImage Image
          
      - name: Pack Kernel using Magiskboot
        working-directory: Magiskboot
        run: |
            tar -xvf boot.tar.gz
            chmod +x magiskboot
            ./magiskboot unpack boot.img
            cp $GITHUB_WORKSPACE/kernel/out/arch/arm64/boot/Image ./kernel
            ./magiskboot repack boot.img boot_SukiSU_${{ env.KSUVER }}.img

      - name: Upload repacked boot image
        uses: actions/upload-artifact@v4
        with:
          name: K40GE_SukiSU_${{ env.KSUVER }}
          path: Magiskboot/boot_SukiSU_${{ env.KSUVER }}.img
          compression-level: 9